<div class="page-header">
	<h1>Atleta List</h1>
</div>
<div class="row">
	<div class="col-xs-5">
		<a href="#/newAtleta" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> New Atleta</a>
	</div>
	<div class="col-xs-7">
		<input type="text" class="form-control" ng-model="query" placeholder="Search for a atleta">
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<hr>
	</div>
</div>
<div class="row" ng-switch on="atletas.length">
	<ul ng-switch-when="0">
		<li>
			<em>No atletas in database. Would you like to <a href="#/newAtleta">create one</a>?
		</li>
	</ul>
	<ul ng-switch-default>
		<li ng-repeat="atleta in atletas | filter:query">
			<a href="#/atleta/{{atleta._id}}">{{atleta.nome}}</a>
		</li>
	</ul>
</div>
<p>&nbsp;</p>