<div class="page-header">
	<h1>Artilharia</h1>
</div>
<div class="row">
	<div class="col-xs-5">
	</div>
	<div class="col-xs-7">
		<input type="text" class="form-control" ng-model="query" placeholder="Search for a sumula">
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<hr>
	</div>
</div>
<div class="row" ng-switch on="artilheiros.length">
	<ul ng-switch-when="0">
		<li>
			<em>No sumulas in database.
		</li>
	</ul>
	<ul ng-switch-default>
		<li ng-repeat="atleta in artilheiros | filter:query">
			{{atleta.atl[0].nome}} - {{atleta.gols}}
		</li>
	</ul>
</div>
<p>&nbsp;</p>