<div class="page-header">
	<h1>Sumula List</h1>
</div>
<div class="row">
	<div class="col-xs-5">
		<a href="#/newSumula" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> New Sumula</a>
	</div>
	<div class="col-xs-7">
		<input type="text" class="form-control" ng-model="query" placeholder="Search for a sumula">
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<hr>
	</div>
</div>
<div class="row" ng-switch on="sumulas.length">
	<ul ng-switch-when="0">
		<li>
			<em>No sumulas in database. Would you like to <a href="#/newSumula">create one</a>?
		</li>
	</ul>
<!-- 	<ul ng-switch-default> -->
<!-- 		<li ng-repeat="sumula in sumulas | filter:query"> -->
<!-- 			<a href="#/sumula/{{sumula._id}}">{{sumula.data}} - {{sumula.quadro}} - {{sumula.adversario}}</a> -->
<!-- 		</li> -->
<!-- 	</ul> -->
	<table ng-switch-default>
		<tr>
			<th>Sumula</th>
			<th>Data</th>
			<th>Quadro</th>
			<th>Adversario</th>
			<th>Resultado</th>
		</tr>
		<tr ng-repeat="sumula in sumulas | filter:query">
			<td><a href="#/sumula/{{sumula._id}}">{{ $index + 1 }}</a></td>
			<td>{{sumula.data}}</td>
			<td>{{sumula.quadro}}</td>
			<td>{{sumula.adversario}}</td>
			<td>BSF {{sumula.golsFavor}} x {{sumula.golsContra}} {{sumula.adversario}}</td>			
		</tr>
	</table>
</div>
<p>&nbsp;</p>